@font-face {
    font-family: 'Myriad Pro Light';
    src: url('MyriadPro-Light.eot');
    src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Light.woff') format('woff'),
    url('MyriadPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
